@font-face {
  font-family: bn;
  src: url(tatsama.ttf);
}
@font-face {
  font-family: tgioa;
  src: url(tgoia.otf);
}
@font-face {
  font-family: designer;
  src: url(designer.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* padding: 1rem; */
  background: url(mainBG.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  all: unset;
}


.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1.33rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardBody {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subjectID {
  font-family: designer;
  font-size: 50px;
  text-align: center;
  color: white;
}

.mainID {
  font-family: tgioa;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  text-align: center;
  color: white;
}

.footID {
  font-family: tgioa;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  text-align: center;
  color: white;
}

.sites {
  font-family: bn;
  font-size: 30px;
  text-align: left;
  color: white;
}
