@font-face {
  font-family: hindsiliguri;
  src: url(/fonts/hindsiliguri.ttf);
}
@font-face {
  font-family: nexa;
  src: url(/fonts/nexa.ttf);
}
@font-face {
  font-family: florensa;
  src: url(/fonts/florensa.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url(masterBG.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  all: unset;
}

.preloader {
  background: rgba(56, 56, 61, 1) url(preloader.svg) no-repeat center center;
  background-size: 20%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cardBody {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subjectID {
  font-family: florensa;
  font-size: 50px;
  letter-spacing: 0.1rem;
  text-align: center;
  color: rgba(249, 249, 250, 1);
}

.mainID {
  font-family: nexa;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  text-align: center;
  color: rgba(249, 249, 250, 1);
}

.footID {
  font-family: nexa;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  text-align: center;
  color: rgba(249, 249, 250, 1);
}

.sitesUL {
  list-style: none;
  margin: 0;
  padding:0;
}

.sites {
  font-family: hindsiliguri;
  font-size: 28px;
  text-align: center;
  color: rgba(249, 249, 250, 1);
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 4px;
  
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
