@font-face {
  font-family: hindsiliguri;
  src: url(/fonts/hindsiliguri.woff2);
}
body {
  background-color: rgba(56, 56, 61, 1);
}
iframe {
  height: 100vh;
  width: 100vh;
  border: none;
}
/*.pdf-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/
.prcName {
  font-family: hindsiliguri;
  font-size: calc(22px + 0.390625vw);
  text-align: center;
  color: rgba(249, 249, 250, 1);
  padding: 3px;
 /* 
  background: rgba(255, 255, 255, 0.123);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1.25px solid rgba(255, 255, 255, 0.3);*/
}
.prcNameHolder {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.preloaderHolder {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pdf-loader {
  background: rgba(56, 56, 61, 1) no-repeat center center;
  background-size: 18%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
.pdf-container {
  margin: 0;
  padding: 0;
}
.pdf-page {
  margin: 0;
  padding 0;
  border: 1px solid rgba(249, 249, 250, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  box-shadow: 0 0 1px rgba(249, 249, 250, 1), 0 0 2.5px rgba(255, 255, 255, 0.3), 0 0 5px rgba(255, 255, 255, 0.3), 0 0 7.5px rgba(255, 255, 255, 0.3), 0 0 12.5px rgba(255, 255, 255, 0.3);
}